# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
rest/target/**

# dependencies
rest/.mvn/**

# IDEs and editors
rest/.settings/**
rest/.classpath
rest/.project
rest/target/


# ng_modules

angular/node_modules/*